body,
html {
    min-width: 1200px;
    min-height: 1650px;
    margin: 0;
    padding: 0
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    background-color: #849d8f
}

body>input[type=radio] {
    display: none
}

.site-wrapper {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image .5s ease, background-color .5s ease;
    transition: background-image .5s ease, background-color .5s ease
}

.site-wrapper::before {
    background-image: url(../img/background-1.jpg)
}

.site-wrapper::after {
    background-image: url(../img/background-3.jpg)
}

.background,
.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0
}

.background {
    background: #879f92 url(../img/background-catalog.jpg) no-repeat
}

.container {
    padding: 0 27px 0 26px;
    margin: 0 auto
}

.main-header-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-header-layout::before {
    display: none
}

.main-header {
    padding-top: 9px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left
}

.logo {
    width: 154px;
    margin-right: 7px;
    margin-left: -2px
}

.logo-catalog {
    margin-left: -1px
}

.main-nav {
    width: 420px
}

.main-nav ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0
}

.main-nav li,
.main-nav-a {
    font-size: 16px;
    line-height: 18px
}

.main-nav li {
    vertical-align: top;
    display: inline-block
}

.main-nav-a {
    display: block;
    box-sizing: border-box;
    margin-top: 14px;
    padding: 6px 15px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: left;
    text-decoration: none
}

.main-nav li:nth-of-type(1) {
    margin-left: 4px
}

.main-nav li:nth-of-type(2),
.main-nav li:nth-of-type(3) {
    margin-left: -2px
}

.main-nav-a:hover {
    background: rgba(254, 254, 254, .99);
    color: #323232;
    border-radius: 50px;
    text-decoration: none
}

.active1:hover .catalog-hit {
    display: block;
    position: absolute;
    top: 50px;
    left: 0
}

.active1:after {
    content: "";
    background: 0 0;
    position: absolute;
    top: 40px;
    left: 10px;
    height: 70px;
    width: 65px
}

.active,
.main-nav-a:active {
    background: #d07058;
    border-radius: 50px;
    text-decoration: none
}

.main-nav-a:active {
    color: #fff
}

.underline {
    background: url(../img/underline.png) repeat-x 100% 100%
}

.active {
    margin-top: 14px;
    padding: 6px 14px 8px 13px
}

.catalog-hit {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 7px;
    background: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    z-index: 1
}

.catalog-hit ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}

.catalog-hit li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 8px 5px 7px
}

.catalog-hit li:nth-of-type(1) {
    padding-left: 2px;
    padding-bottom: 10px;
    padding-top: 7px
}

.catalog-hit a {
    margin: 0;
    padding: 3px 13px;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none
}

.catalog-menu li:nth-child(2) {
    padding-left: 8px;
    padding-top: 5px
}

.catalog-hit li:nth-of-type(3) {
    padding-top: 4px;
    padding-left: 8px
}

.catalog-hit li:nth-of-type(4),
.catalog-hit li:nth-of-type(5) {
    padding-top: 4px;
    padding-left: 6px
}

.catalog-hit li:nth-of-type(5) {
    padding-bottom: 12px
}

.catalog-hit-b {
    border-bottom: 1px solid #d1d0ce
}

.catalog-hit-b a {
    font-weight: 600
}

.catalog-hit li:hover {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 0;
    background-color: #fbded7
}

.active-menu,
.catalog-hit li:active {
    background-color: #d07058
}

.user-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0
}

.user-block li {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin: 0;
    padding: 19px 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400
}

.user-block {
    min-height: 40px;
    margin-left: auto
}

.user-block li:first-child {
    padding-right: 34px
}

.user-block li:nth-child(2) {
    box-sizing: border-box;
    width: 93px;
    padding-left: 39px;
    margin-left: 9px
}

.user-block li:nth-child(3) {
    box-sizing: border-box;
    width: 118px;
    padding-left: 44px;
    margin-left: 8px
}

.user-block a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none
}

.user-block a:hover {
    color: #323232
}

.search::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: -4px;
    background: rgba(254, 254, 254, .2) url(../img/sprite.png) no-repeat center;
    border-radius: 50px;
    background-position: -570px 7px
}

.search:hover:before {
    content: "";
    background: rgba(254, 254, 254, .99) url(../img/sprite.png) no-repeat center;
    background-position: -513px 6.5px
}

.login {
    padding-left: 4px
}

.login::before {
    width: 92px;
    left: -1px;
    background: rgba(254, 254, 254, .2) url(../img/login.png) no-repeat center;
    color: #fff
}

.login-hover span {
    display: block;
    position: relative;
    left: 3px
}

.login:hover:before {
    content: "";
    display: block;
    background: rgba(254, 254, 254, .99) url(../img/login_off.png) no-repeat center;
    background-position: 15px 5px;
    color: #323232
}

.backet span {
    padding-left: 20px
}

.backet-hover:before,
.backet:before,
.login::before {
    position: absolute;
    content: "";
    height: 32px;
    top: 14px;
    background-position: 16px 6px;
    border-radius: 50px;
}

.backet:before {
    background: rgba(254, 254, 254, .2) url(../img/backet.png) no-repeat center;
    width: 117px;
    left: 0;
    color: #fff;
    background-position: 16px 6px;
}

.backet-hover .text {
    display: block;
    position: relative;
    color: #323232;
    padding: 0;
    margin: 0;
    z-index: 21;
}

.backet-hover:before {
    width: 118px;
    left: -1px;
    color: #323232;
    background: rgba(254, 254, 254, .9) url(../img/backet_on.png) no-repeat center;
    z-index: 10;
    background-position: 16px 6px;
}

.search-form {
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    right: 0;
    top: 32px;
    width: 341px;
    height: 84px;
    z-index: 15
}

.backet span,
.login-hover:hover .login-form-1,
.search-hover:hover .search-form,
input[placeholder]:hover .password label {
    display: block
}

.search-hover:before {
    content: "";
    background: 0 0;
    top: 25px;
    right: 0;
    position: absolute;
    height: 20px;
    width: 35px
}

input[type=search] {
    display: block;
    margin-top: 18px;
    margin-left: 15px;
    margin-bottom: 2px;
    padding: 9px 13px 9px 14px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #323232;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    z-index: 12;
    width: 310px
}

.login-hover input[type=email]:hover,
.login-hover input[type=password]:hover,
.search-form input[type=search]:hover {
    border: 2px solid rgba(154, 154, 154, .6);
    border-radius: 5px;
    background-color: #fff
}

.login-form-1 input::-webkit-input-placeholder,
.search-form input::-webkit-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #999
}

.login-form-1 input::-moz-placeholder,
.search-form input::-moz-placeholder {
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999
}

.login-form-1 input:-ms-input-placeholder,
.search-form input:-ms-input-placeholder {
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999
}

.login-form-1 input::placeholder,
.search-form input::placeholder {
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999
}

input:focus::-webkit-input-placeholder {
    padding-left: 15px;
    color: transparent
}

input:focus::-moz-placeholder {
    padding-left: 15px;
    color: transparent
}

input:focus:-ms-input-placeholder {
    padding-left: 15px;
    color: transparent
}

input:focus::placeholder {
    padding-left: 15px;
    color: transparent
}

.login-form-1 label {
    display: none;
    position: absolute;
    top: 70px;
    left: 25px;
    color: #5b9ddf;
    font-size: 11px;
    font-weight: 13px
}

.login-form-1 {
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    right: 0;
    top: 50px;
    width: 277px;
    height: 214px;
    z-index: 10
}

.backet-block:before,
.login-hover:before {
    content: "";
    background: 0 0;
    top: 45px;
    right: 0;
    position: absolute;
    height: 20px;
    width: 90px
}

.login-hover input[type=email],
input[type=password] {
    display: block;
    margin-top: 18px;
    margin-left: 19px;
    margin-bottom: 2px;
    padding: 9px 13px 9px 14px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    width: 213px;
    background-color: #fff;
    font-size: 16px;
    color: #323232;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    z-index: 12
}

.btn,
.login-form-1 a {
    position: absolute;
    z-index: 12;
    font-family: "Roboto", "Arial", sans-serif
}

.login-form-1 a {
    text-decoration: underline;
    font-size: 13px;
    color: #323232;
    line-height: 1.846;
    text-align: right;
    right: 38px;
    top: 146px
}

.login-form-1 a:hover {
    color: #e84d37
}

.new-registration {
    margin-top: 21px;
    margin-right: -17px
}

.btn {
    background-image: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background-image: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0 1px 2px 0 rgba(172, 16, 0, .004);
    border-radius: 20px;
    border: 0;
    right: 158px;
    top: 148px;
    width: 100px;
    height: 44px;
    font-size: 18px;
    color: #fefefe;
    font-weight: 500;
    line-height: 1.333;
    text-align: center
}

.btn:hover {
    background: #ec7360;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #a9190a
}

.btn:active {
    background-image: -webkit-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background-image: -ms-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px 0 #a9190a
}

.backet-block:hover .backet-content,
.backet-content {
    display: block;
    position: absolute;
    right: 0;
    top: 50px
}

.backet-block:before {
    top: 40px;
    right: 5px;
    width: 110px
}

.backet-content {
    display: none;
    border-radius: 6px;
    background-color: #f7f6f3;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    top: 60px;
    width: 540px;
    min-height: 242px;
    z-index: 15
}

table {
    margin-top: 9px;
    margin-left: 5px
}

.backet-close {
    width: 11px;
    height: 11px;
    font-size: 0;
    background: 0 0;
    border: 0;
    cursor: pointer
}

.backet-close::after,
.backet-close::before {
    content: "";
    position: absolute;
    left: 12px;
    width: 15px;
    height: 1px;
    background-color: #353535;
    border-radius: 8px
}

.backet-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.backet-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.backet-content span,
td {
    font-family: "Roboto", "Arial", sans-serif;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left
}

.backet-content .button {
    padding: 0 10px 10px 0
}

.backet-content .img {
    padding: 7px 5px 4px 9px
}

.backet-content .title {
    width: 220px;
    padding: 19px 4px 12px 6px
}

.backet-content .kg {
    vertical-align: top;
    padding: 19px 12px 0 22px
}

.backet-content .price {
    margin-left: 25px;
    vertical-align: top;
    padding: 19px 20px 0 17px
}

.backet-content .context {
    color: #cacac7
}

.backet-content .results {
    font-family: "Roboto", "Arial", sans-serif;
    color: #323232;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
    border-top: 1px solid #cacac7;
    padding: 17px 0 13px
}

.btn-backet {
    position: relative;
    top: 10px;
    left: 355px;
    width: 170px;
    margin-bottom: 20px;
    padding: 10px 15px 12px
}

.backet-content a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px
}

.header-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column
}

.header-layout-timetible {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: right;
    position: relative;
    top: -6px
}

.tel-number,
.timetible {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    text-align: right
}

.timetible {
    letter-spacing: .3px;
    font-size: 14px;
    line-height: 16px
}

.tel-number {
    font-size: 22px;
    line-height: 24px;
    margin: 4px 0 0;
    padding: 0
}

.slider {
    position: relative;
    padding-top: 268px;
    text-align: center;
    color: #fff;
    margin-bottom: 41px
}

.slide {
    display: none
}

.slide-title {
    width: 700px;
    margin: 0 auto 33px;
    line-height: 60px;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    letter-spacing: .1px
}

.slide-btn {
    display: inline-block;
    width: 278px;
    height: 63px;
    box-sizing: border-box;
    padding: 7px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    background: #f26843;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64)
}

.slide-btn:hover {
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px #ac1000
}

.slide-btn:active {
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px #ac1000
}

.slider-controls {
    position: absolute;
    bottom: 23px;
    left: 0;
    z-index: 20;
    font-size: 0
}

.slider-controls label {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 1px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer
}

.slider-controls label:hover {
    background-color: rgba(254, 254, 254, .4)
}

.btn-1:checked~.site-wrapper .slide1,
.btn-2:checked~.site-wrapper .slide2,
.btn-3:checked~.site-wrapper .slide3 {
    display: block
}

.btn-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/background-1.jpg);
    width: 100%
}

.btn-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/background-2.jpg)
}

.btn-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/background-3.jpg)
}

.btn-1:checked~.site-wrapper label[for=btn-1],
.btn-2:checked~.site-wrapper label[for=btn-2],
.btn-3:checked~.site-wrapper label[for=btn-3] {
    background-color: #fff
}

.banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px
}

.banner-left {
    width: 560px;
    background: #c74362;
    background-image: url(../img/banner_malina.jpg);
    border-radius: 15px
}

.banner-content,
.banner-toppic {
    margin: 0;
    padding: 0 17px 0 18px
}

.banner-toppic {
    font-size: 35px;
    color: #fff;
    line-height: 41px;
    padding-top: 14px
}

.banner-content {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 43px;
    letter-spacing: .1px
}

.btn-two {
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px 12px 22px;
    border-radius: 40px;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
    background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
    margin-bottom: 25px;
    position: relative
}

.btn-two-1 {
    position: relative;
    left: 315px;
    top: 2px
}

.btn-two:hover {
    background: #ec7360;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #a9190a
}

.btn-two:active {
    background-image: -webkit-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background-image: -ms-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px 0 #a9190a
}

.banners a,
.breadcrumbs a,
.breadcrumbs p,
.map-block-adress a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px
}

.btn-banner1,
.btn-banner2 {
    box-sizing: border-box;
    margin-left: 59px
}

.btn-banner2 {
    margin-right: 37px;
    margin-left: 35px;
    padding: 9px 22px 12px 21px
}

.banner-right {
    width: 560px;
    background: #6d3d1e;
    background-image: url(../img/banner_choco.jpg);
    border-radius: 15px;
    margin-right: 1px
}

.breadcrumbs {
    margin-top: -26px
}

.breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none
}

.breadcrumbs li {
    padding-right: 20px
}

.breadcrumbs a,
.breadcrumbs p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-align: left
}

.breadcrumbs .disabled-a {
    cursor: default
}

.breadcrumbs a:hover:not(.disabled-a) {
    color: #ffbc9e
}

.breadcrumbs span:before {
    content: '»';
    position: absolute;
    padding-top: 2px;
    padding-left: 60px
}

.catalog-filter {
    width: 879px;
    margin-bottom: 40px
}

.catalog-filter h2,
form {
    padding-top: 2px;
    text-align: left
}

.catalog-filter h2 {
    margin: 0 0 25px;
    color: #fff;
    line-height: 41px;
    letter-spacing: .5px;
    font-size: 33px;
    font-weight: 600
}

.assortment-item,
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

form {
    font-size: 14px;
    font-weight: 500;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.assortment-item {
    -ms-flex-flow: column;
    flex-flow: column;
    margin-right: 10px;
    min-height: 60px
}

.style-select {
    margin-top: 9px;
    margin-bottom: 10px;
    padding: 7px 3px;
    background: rgba(248, 247, 244, .2) url(../img/select.png) no-repeat 170px 17px;
    background-image: #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    width: 187px
}

.style-select a:hover {
    background: #fff url(../img/select.png) no-repeat 170px 17px;
    color: #323232
}

.assortment-item span {
    margin: 0;
    line-height: 13px
}

.additive-label .title,
.fatness-item .title,
.price-item span {
    margin: 0;
    line-height: 13px;
    padding-left: 14px
}

.radio-item,
.range {
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 7px 6px;
    background-color: rgba(248, 247, 244, .2)
}

.additive-btn,
.additive-item,
.radio-item,
.range {
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600
}

.additive-item {
    background-color: rgba(248, 247, 244, .2)
}

.additive-btn {
    margin-top: 9px;
    padding: 7px 6px
}

.assortment {
    width: 193px;
    padding-left: 10px;
    height: 36px;
    cursor: pointer
}

.assortment-item span {
    padding-left: 15px;
    padding-top: 2px
}

.assortment-item select {
    background: 0 0;
    font-weight: 600;
    line-height: 18px;
    font-size: 15px;
    color: #fff;
    height: 25px;
    width: 209px;
    border: 0
}

.assortment-item option {
    font-weight: 400;
    color: #000
}

.price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 220px;
    margin-right: 15px;
    margin-left: 6px
}

.price-controls .max-price,
.price-controls .min-price {
    width: 30px;
    padding: 0;
    margin: 0
}

.price-controls input {
    width: 10px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: 0 0;
    border: none
}

.range-controls {
    box-sizing: border-box;
    position: relative;
    margin-top: 8px;
    padding: 17px 15px;
    height: 33px;
    background-color: rgba(248, 247, 244, .2);
    border-radius: 25px
}

.range-controls .scale {
    height: 3px;
    background: #d7dcde;
    margin-top: -1px
}

.range-controls .bar {
    position: relative;
    width: 50%;
    height: 4px;
    left: 28px;
    background: rgba(248, 247, 244, .8)
}

.range-controls .toggle {
    position: absolute;
    top: 8px;
    left: 3px;
    width: .8px;
    height: .8px;
    border: 10px solid rgba(248, 247, 244, .8);
    background-color: #f8f7f4;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    cursor: pointer
}

.range-controls .toggle-min {
    left: 33px
}

.range-controls .toggle-max {
    left: 131px
}

.radio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 415px;
    height: 37px;
    box-sizing: border-box
}

.radio {
    display: none
}

.radio-label {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 28px;
    background: url(../img/radiobtn.png) no-repeat 0 0;
    vertical-align: middle
}

.radio:checked+.radio-label {
    background: url(../img/radiobtn-on.png) no-repeat
}

.radio-element {
    font-weight: 400;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px
}

.radio-element span {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px 0 30px
}

.radio-element span.last-child {
    padding-right: 0
}

.additive-item label {
    padding-left: 34px;
    margin-left: 0
}

.additive-label {
    margin-top: 6px
}

.additive,
.additive-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.additive {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -7px
}

.additive-item {
    width: 692px;
    margin-bottom: 0;
    margin-top: 11px;
    padding: 8px 5px
}

.checkbox {
    display: none
}

.check-label {
    cursor: pointer;
    padding-right: 9px;
    background: url(../img/checkbox.png) no-repeat 0 0;
    vertical-align: top
}

.checkbox:checked+.check-label {
    background: url(../img/checkbox-on.png) no-repeat
}

.check-element {
    font-weight: 400;
    padding-left: 10px;
    margin: -1px 0 0
}

.additive-btn {
    margin-left: 13px;
    border: 2px solid #fff;
    width: 142px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, .188);
    cursor: pointer
}

.additive-btn:hover {
    background-color: #fff;
    color: #323232;
    font-size: 16px;
    font-weight: 600
}

.additive-btn:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px 0 6c6d6c;
    border: transparent;
    font-size: 16px;
    font-weight: 600
}

.hits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 1146px
}

.hits-ice-cream {
    width: 267px;
    height: 362px
}

.hits-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 1146px
}

.hits-1 .price-rub {
    margin-left: 3px
}

.hits-1 .price-rub-1 {
    margin-left: -1px;
    margin-right: -3px
}

.hits-1 .price-rub-2 {
    margin-left: 1px;
    margin-right: -2px
}

.quick-view-background {
    display: block;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
    position: absolute;
    margin-top: -370px;
    width: 293px;
    height: 404px;
    margin-left: -13px
}

.quick-view a,
.quick-view-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500
}

.quick-view-btn {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: -31px;
    margin-left: 33px;
    padding: 9px 17px 0;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background-image: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0 1px 2px 0 rgba(172, 16, 0, .004);
    height: 44px
}

.quick-view-btn:hover {
    background: #ec7360;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #a9190a
}

.quick-view-btn:active {
    background-image: -webkit-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background-image: -ms-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px 0 #a9190a
}

.quick-view a {
    color: #fff;
    text-decoration: none;
    text-align: center
}

.hits-ice-cream .quick-view {
    display: none
}

.hits-ice-cream:hover .quick-view {
    display: block
}

.hit,
.quick-view-btn {
    position: absolute
}

.price-kg,
.price-rub {
    position: relative;
    bottom: 62px;
    text-align: left;
    text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
    line-height: 45px;
    padding: 0
}

.price-kg {
    margin: 0
}

.price-rub {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 0 -1px
}

.price-kg {
    font-size: 30px;
    font-weight: 700;
    padding-left: 2px
}

.hits-ice-cream-a {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 0 6px;
    bottom: 42px;
    width: 267px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-decoration: none
}

.underline-1 {
    background: url(../img/underline.png) repeat-x 100% 100%
}

.hits-ice-cream-a:hover {
    color: #ffbc9e
}

.underline-1:hover {
    background: url(../img/underline_hover.png) repeat-x 100% 100%
}

.commercial {
    box-sizing: border-box;
    width: 1146px;
    background: #e4d6af;
    background-image: url(../img/pattern-wafer.jpg);
    background-repeat: repeat;
    border-radius: 15px;
    padding-left: 19px;
    padding-top: 23px;
    color: #323232
}

.commercial-toppic {
    margin: 0;
    font-size: 24px;
    color: #323232;
    line-height: 1.25;
    font-weight: 500;
    text-align: left
}

.commercial-combine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 25px;
    margin-bottom: 40px
}

.commercial-item {
    position: relative;
    width: 480px;
    min-height: 50px;
    margin-right: 31px;
    padding: 22px 0 0 57px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left
}

.commercial-item p {
    padding: 0;
    margin: 0
}

.commercial-item:nth-child(2n) {
    margin-right: 0
}

.icon-ice-cream::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 10px;
    width: 49px;
    height: 49px;
    background-image: url(../img/icon-ice-cream.png)
}

.icon-cow::before,
.icon-sheet::before,
.icon-thermometer::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 10px;
    width: 49px;
    height: 49px;
    background-image: url(../img/icon-cow.png)
}

.icon-sheet::before,
.icon-thermometer::before {
    left: 1px;
    background-image: url(../img/icon-sheet.png)
}

.icon-thermometer::before {
    left: -1px;
    background-image: url(../img/icon-thermometer.png)
}

.news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 39px
}

.emailing,
.emailing-2,
.news-preview {
    box-sizing: border-box;
    border-radius: 15px
}

.news-preview {
    width: 560px;
    min-height: 220px;
    background: #fff url(../img/background-strawberry.jpg);
    padding-left: 19px;
    color: #323232
}

.emailing-2 input[type=email],
.news-preview p {
    margin: 0;
    padding: 23px 0 0;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left
}

.news-preview a {
    display: block;
    width: 290px;
    padding-top: 3px;
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -.2px;
    line-height: 30px
}

.news-preview a:hover {
    color: #e84d37
}

.emailing,
.emailing-2 {
    background-color: #f8f7f4;
}

.emailing {
    background: url(../img/pattern-mail.png);
    color: #5a5a5a;
    letter-spacing: 1;
    width: 560px;
    background-color: #f8f7f4;
}

.emailing-2 {
    margin: 5px 7px;
    padding: 12px 8px 5px 19px;
    border: 0;
    width: 548px;
    min-height: 210px;
    background-color: #f8f7f4;
}

.emailing-2 p {
    margin-right: 10px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.emailing-2 input[type=email] {
    border: 1px solid #d3d3d2;
    background-color: #fff;
    display: block;
    margin: 18px 0 0 1px;
    padding: 9px 173px 10px 12px;
    width: 180px;
    border-radius: 5px;
    color: #999;
    line-height: 24px
}

.emailing input::-moz-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    color: #999
}

.emailing input::-webkit-input-placeholder,
.modal-content input::-webkit-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999
}

.emailing input-ms-input-placeholder,
.modal-content input-ms-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999
}

.btn-two-2,
.emailing-2 a {
    text-decoration: none
}

.btn-two-2 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 4px 14px 6px 17px;
    margin: 18px 0 4px 11px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    border: 0;
    color: #fff;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    background: #f26843;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64)
}

.map-iframe {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 5;
    height: 429px
}

iframe {
    border: 0
}

.map-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin-left: -27px;
    background-image: #e84d37 url(../img/map-ice-cream.png), #ded6b9 url(../img/map-block.jpg);
    background-repeat: no-repeat;
    background-position: 266px 139px, 0 0
}

.map-block-adress {
    box-sizing: border-box;
    width: 302px;
    height: 305px;
    background-color: #fefefe;
    color: #4d4d4d;
    border-radius: 15px;
    position: relative;
    left: 871px;
    top: -370px;
    padding-left: 25px;
    padding-top: 15px;
    z-index: 200
}

.map-block-adress p {
    padding: 14px 0 2px;
    margin: 0;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left
}

.map-block-adress p:nth-of-type(2) {
    padding: 17px 0 2px;
    margin: 0 0 3px;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left
}

.map-block-adress p:last-of-type {
    padding-top: 2px
}

.map-block-adress b {
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left
}

.map-block-adress b:last-of-type {
    margin-top: 105px
}

.btn-map {
    top: 23px;
    padding: 9px 28px 11px
}

.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
    padding-bottom: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.paginator a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 3px 10px 3px 9px
}

.paginator a:hover:not(.next):not(.prev) {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2)
}

.disabled {
    cursor: default;
    opacity: .3
}

.paginator a:active:not(.next):not(.prev) {
    color: #323232;
    background-color: #fff;
    border-radius: 50%
}

a.current {
    background: #fff;
    color: #323232;
    border-radius: 50px
}

.next,
.prev {
    width: 9px;
    height: 14px
}

.prev {
    background: url(../img/paginator_left.png) no-repeat;
    background-position: 5px
}

.next {
    background: url(../img/paginator_right.png) no-repeat;
    background-position: 18px 5px
}

.main-footer {
    margin-top: 20px;
    padding-bottom: 24px
}

.footer-social,
.main-footer-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-footer-layout::before {
    display: none
}

.main-footer .footer-catalog {
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .302);
    padding: 17px 0 7px
}

.footer-social {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    width: 196px;
    margin-right: 226px;
    margin-top: 18px
}

.social-btn {
    width: 3px;
    height: 3px;
    border: 3px solid rgba(254, 254, 254, .5);
    border-radius: 50px;
    margin-right: 9px
}

.social-btn-fb,
.social-btn-inst,
.social-btn-tw,
.social-btn-vk {
    width: 32px;
    height: 32px;
    background: url(../img/sprite1.png) no-repeat;
    background-position: 0 0;
    border-radius: 50px;
    opacity: .8
}

.social-btn-tw:hover {
    opacity: 1
}

.social-btn-tw:active {
    opacity: .8;
    box-shadow: inset 0 2px 1px 0 #9b9b9b
}

.social-btn-fb,
.social-btn-inst,
.social-btn-vk {
    background-position: -42px 0
}

.social-btn-inst:hover {
    opacity: 1
}

.social-btn-inst:active {
    opacity: .8;
    box-shadow: inset 0 2px 1px 0 #9b9b9b
}

.social-btn-fb,
.social-btn-vk {
    background-position: -84px 0
}

.social-btn-fb:hover {
    opacity: 1
}

.social-btn-fb:active {
    opacity: .8;
    box-shadow: inset 0 2px 1px 0 #9b9b9b
}

.social-btn-vk {
    background-position: -126px 0
}

.social-btn-vk:hover {
    opacity: 1
}

.social-btn-vk:active {
    opacity: .8;
    box-shadow: inset 0 2px 1px 0 #9b9b9b
}

.footer-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 333px;
    margin-right: 128px;
    margin-top: 15px
}

.footer-about-us::after {
    content: "";
    position: relative;
    right: 325px;
    bottom: 20px;
    width: 15px;
    height: 13px;
    background-image: url(../img/sprite.png);
    background-position: 464px 0
}

.fotter-about-us-toppic {
    padding-right: 32px
}

.fotter-about-us-toppic:nth-of-type(3) {
    padding-right: 45px
}

.fotter-about-us-toppic:nth-of-type(4) {
    padding-right: 0
}

.footer-about-us a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left
}

.footer-about-us a:first-child {
    font-weight: 600
}

.footer-about-us a:hover,
.footer-copyright a:hover {
    color: #ffbc9e
}

.footer-copyright {
    box-sizing: border-box;
    width: 190px;
    margin-left: auto
}

.footer-copyright,
.footer-copyright a {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
    70% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px)
    }
    90% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
    70% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px)
    }
    90% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.modal-content {
    display: none;
    box-sizing: border-box;
    margin-left: -237px;
    color: #000;
    border-radius: 10px;
    background-color: #f8f7f4;
    position: fixed;
    top: 125px;
    left: 50%;
    z-index: 15;
    width: 477px;
    height: 442px
}

.modal-content-show {
    display: block;
    -webkit-animation: bounce .6s;
    animation: bounce .6s
}

.modal-content-close {
    position: absolute;
    top: 23px;
    right: 31px;
    font-size: 0;
    background: 0 0;
    border: 0;
    cursor: pointer
}

.modal-content-close::after,
.modal-content-close::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000;
    border-radius: 4px
}

.modal-content-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.modal-content-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.modal-content h2 {
    padding: 0;
    margin: 16px 0 20px 21px;
    font-size: 24px;
    line-height: 28px
}

.modal-content input:hover {
    border: 2px solid #c7c6c5
}

.modal-content input[type=email],
.modal-content input[type=text] {
    display: block;
    margin-top: -2px;
    margin-left: 23px;
    margin-bottom: 23px;
    padding: 8px 38px 9px 14px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    width: 213px;
    background-color: #fff;
    font-size: 16px;
    color: #323232;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    z-index: 12
}

.modal-content input[type=text]:nth-child(3) {
    padding-bottom: 120px;
    padding-right: 199px
}

.modal-content input::-moz-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999
}

.btn-modal {
    position: absolute;
    top: 370px;
    left: 312px;
    width: 140px
}
