html,
body {
    min-width: 1200px;
    min-height: 1650px;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    background-color: #849d8f;
}

body > input[type="radio"] {
    display: none;
}

.site-wrapper {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before {
    background-image: url("../img/background-1.jpg");
}

.site-wrapper::after {
    background-image: url("../img/background-3.jpg");
}

.content-wrapper {
    width: 1200px;
    margin: 0px auto;
    padding: 0;
}

.background {
    background: #879f92 url("../img/background-catalog.jpg") no-repeat;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container {
    padding: 0;
    padding-left: 26px;
    padding-right: 27px;
    margin: 0 auto;
}


/* header */

.main-header-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-header-layout::before {
    display: none;
}

.main-header {
    padding-top: 9px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.main-header-layout::before {
    display: none;
}

.logo {
    width: 154px;
    margin-right: 7px;
    margin-left: -2px;
}

.logo-catalog {
    margin-left: -1px;
}

.main-nav {
    width: 420px;
}

.main-nav ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-nav li {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
}

.main-nav-a {
    display: block;
    box-sizing: border-box;
    margin-top: 14px;
    padding: 6px 15px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
}

.main-nav li:nth-of-type(1) {
    margin-left: 4px;
}

.main-nav li:nth-of-type(2),
.main-nav li:nth-of-type(3) {
    margin-left: -2px;
}

.main-nav-a:hover {
    background: rgba(254, 254, 254, 0.99);
    color: #323232;
    border-radius: 50px;
    text-decoration: none;
}

.active1:hover .catalog-hit {
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
}

.active1:after {
    content: "";
    background: transparent;
    position: absolute;
    top: 40px;
    left: 10px;
    height: 70px;
    width: 65px;
}

.main-nav-a:active {
    background: #d07058;
    color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
}

.underline {
    background: url("../img/underline.png") repeat-x 100% 100%;
}

.active {
    margin-top: 14px;
    padding: 6px 14px 8px 13px;
    background: #d07058;
    border-radius: 50px;
    text-decoration: none;
}

.catalog-hit {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    border-radius: 7px;
    background: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.catalog-hit ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.catalog-hit li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 8px 5px 7px;
}

.catalog-hit li:nth-of-type(1) {
    padding-left: 2px;
    padding-bottom: 10px;
    padding-top: 7px;
}

.catalog-hit a {
    margin: 0;
    padding: 3px 13px;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
}

.catalog-menu li:nth-child(2) {
    padding-left: 8px;
    padding-top: 5px;
}

.catalog-hit li:nth-of-type(3) {
    padding-top: 4px;
    padding-left: 8px;
}

.catalog-hit li:nth-of-type(4) {
    padding-top: 4px;
    padding-left: 6px;
}

.catalog-hit li:nth-of-type(5) {
    padding-top: 4px;
    padding-bottom: 12px;
    padding-left: 6px;
}

.catalog-hit-b {
    border-bottom: 1px solid #d1d0ce;
}

.catalog-hit-b a {
    font-weight: 600;
}

.active-menu {
    background-color: #d07058;
}

.catalog-hit li:hover {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 0;
    background-color: #fbded7;
}

.catalog-hit li:active {
    background-color: #d07058;
}

.user-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.user-block li {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 19px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.user-block {
    min-height: 40px;
    margin-left: auto;
}

.user-block li:first-child {
    padding-right: 34px;
}

.user-block li:nth-child(2) {
    box-sizing: border-box;
    width: 93px;
    padding-left: 39px;
    margin-left: 9px;
}

.user-block li:nth-child(3) {
    box-sizing: border-box;
    width: 118px;
    padding-left: 44px;
    margin-left: 8px;
}

.user-block a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.user-block a:hover {
    color: #323232;
}

.search::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: -4px;
    background: rgba(254, 254, 254, 0.2) url("../img/sprite.png") no-repeat center;
    border-radius: 50px;
    background-position: -570px 7px;
}

.search:hover:before {
    content: "";
    background: rgba(254, 254, 254, 0.99) url("../img/sprite.png") no-repeat center;
    background-position: -513px 6.5px;
}

.login {
    padding-left: 4px;
}

.login::before {
    position: absolute;
    content: "";
    width: 92px;
    height: 32px;
    left: -1px;
    top: 14px;
    background: rgba(254, 254, 254, 0.2) url("../img/login.png") no-repeat center;
    color: #ffffff;
    border-radius: 50px;
    background-position: 16px 6px;
}

.login-hover span {
    display: block;
    position: relative;
    left: 3px;
}

.login:hover:before {
    content: "";
    display: block;
    color: #323232;
    background: rgba(254, 254, 254, 0.99) url("../img/login_off.png") no-repeat center;
    background-position: 15px 5px;
    color: #323232;
}

.backet span {
    display: block;
    padding-left: 20px;
}

.backet:before {
    position: absolute;
    content: "";
    width: 117px;
    height: 32px;
    left: 0px;
    top: 14px;
    background: rgba(254, 254, 254, 0.2) url("../img/backet.png") no-repeat center;
    color: #ffffff;
    border-radius: 50px;
    background-position: 16px 6px;
}

.backet-hover .text {
    display: block;
    position: relative;
    color: #323232;
    padding: 0;
    margin: 0;
    z-index: 21;
}

.backet-hover:before {
    position: absolute;
    content: "";
    width: 118px;
    height: 32px;
    left: -1px;
    top: 14px;
    color: #323232;
    background: rgba(254, 254, 254, 0.9) url("../img/backet_on.png") no-repeat center;
    background-position: 16px 6px;
    border-radius: 50px;
    z-index: 10;
}


/* form */

.search-form {
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    right: 0px;
    top: 32px;
    width: 341px;
    height: 84px;
    z-index: 15;
}

.search-hover:hover .search-form {
    display: block;
}

.search-hover:before {
    content: "";
    background: transparent;
    top: 25px;
    right: 0px;
    position: absolute;
    height: 20px;
    width: 35px;
}

input[type="search"] {
    display: block;
    margin-top: 18px;
    margin-left: 15px;
    margin-bottom: 2px;
    padding: 9px 13px 9px 14px;
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    width: 213px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: rgb(50, 50, 50);
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    z-index: 12;
    width: 310px;
}

.search-form input[type="search"]:hover,
.login-hover input[type="email"]:hover,
.login-hover input[type="password"]:hover {
    border: 2px solid rgba(154, 154, 154, 0.6);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.login-form-1 input::-webkit-input-placeholder,
.search-form input::-webkit-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}

.login-form-1 input::-moz-placeholder,
.search-form input::-moz-placeholder {
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}

.login-form-1 input:-ms-input-placeholder,
.search-form input:-ms-input-placeholder {
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}

.login-form-1 input::placeholder,
.search-form input::placeholder {
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}

input:focus::-webkit-input-placeholder {
    padding-left: 15px;
    color: transparent;
}

input:focus::-moz-placeholder {
    padding-left: 15px;
    color: transparent;
}

input:focus:-ms-input-placeholder {
    padding-left: 15px;
    color: transparent;
}

input:focus::placeholder {
    padding-left: 15px;
    color: transparent;
}

.login-form-1 label {
    display: none;
    position: absolute;
    top: 70px;
    left: 25px;
    color: #5b9ddf;
    font-size: 11px;
    font-weight: 13px;
}

input[placeholder]:hover .password label {
    display: block;
}

.login-form-1 {
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    right: 0px;
    top: 50px;
    width: 277px;
    height: 214px;
    z-index: 10;
}

.login-hover:hover .login-form-1 {
    display: block;
}

.login-hover:before {
    content: "";
    background: transparent;
    position: relative;
    top: 45px;
    right: 0px;
    height: 20px;
    width: 90px;
}

.login-hover input[type="email"],
input[type="password"] {
    display: block;
    margin-top: 18px;
    margin-left: 19px;
    margin-bottom: 2px;
    padding: 9px 13px 9px 14px;
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    width: 213px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: rgb(50, 50, 50);
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    z-index: 12;
}

.login-form-1 a {
    font-size: 13px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #323232;
    line-height: 1.846;
    text-align: right;
    position: absolute;
    right: 38px;
    top: 146px;
    text-decoration: underline;
    z-index: 12;
}

.login-form-1 a:hover {
    color: #e84d37;
}

.new-registration {
    margin-top: 21px;
    margin-right: -17px;
}

.btn {
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border-radius: 20px;
    position: absolute;
    border: 0;
    right: 158px;
    top: 148px;
    width: 100px;
    height: 44px;
    z-index: 12;
    font-size: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    color: rgb(254, 254, 254);
    font-weight: 500;
    line-height: 1.333;
    text-align: center;
}

.btn:hover {
    background: #ec7360;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #a9190a;
}

.btn:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    box-shadow: inset 0px 2px 2px 0px #a9190a;
}

.backet-block:hover .backet-content {
    display: block;
    position: absolute;
    right: 0px;
    top: 50px;
}

.backet-block:before {
    content: "";
    background: transparent;
    top: 40px;
    right: 5px;
    position: absolute;
    height: 20px;
    width: 110px;
}

.backet-content {
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: #f7f6f3;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    right: 0px;
    top: 60px;
    width: 540px;
    min-height: 242px;
    z-index: 15;
}

table {
    margin-top: 9px;
    margin-left: 5px;
}

td {
    font-family: "Roboto", "Arial", sans-serif;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.backet-close {
    width: 11px;
    height: 11px;
    font-size: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.backet-close::before,
.backet-close::after {
    content: "";
    position: absolute;
    left: 12px;
    width: 15px;
    height: 1px;
    background-color: #353535;
    border-radius: 8px;
}

.backet-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.backet-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.backet-content span {
    color: #323232;
    font-family: "Roboto", "Arial", sans-serif;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.backet-content .button {
    padding: 0px 10px 10px 0px;
}

.backet-content .img {
    padding: 7px 5px 4px 9px;
}

.backet-content .title {
    width: 220px;
    padding: 19px 4px 12px 6px;
}

.backet-content .kg {
    vertical-align: top;
    padding: 19px 12px 0px 22px;
}

.backet-content .price {
    margin-left: 25px;
    vertical-align: top;
    padding: 19px 20px 0px 17px;
}

.backet-content .context {
    color: #cacac7;
}

.backet-content .results {
    font-family: "Roboto", "Arial", sans-serif;
    color: #323232;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
    border-top: 1px solid #cacac7;
    padding: 17px 0px 13px 0px;
}

.btn-backet {
    position: relative;
    top: 10px;
    left: 355px;
    width: 170px;
    margin-bottom: 20px;
    padding: 10px 15px 12px 15px;
}

.backet-content a {
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    line-height: 24px;
}

.header-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

.header-layout-timetible {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: right;
    position: relative;
    top: -6px;
}

.timetible {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.3px;
}

.tel-number {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    margin: 0;
    margin-top: 4px;
    padding: 0;
}


/* index */


/* slider */

.slider {
    position: relative;
    padding-top: 268px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 41px;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 33px;
    line-height: 60px;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.1px;
}

.slide-btn {
    display: inline-block;
    width: 278px;
    height: 63px;
    box-sizing: border-box;
    padding: 7px;
    line-height: 43px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    background: #f26843;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 23px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 1px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgba(254, 254, 254, 0.4);
}

.btn-1:checked ~ .site-wrapper .slide1,
.btn-2:checked ~ .site-wrapper .slide2,
.btn-3:checked ~ .site-wrapper .slide3 {
    display: block;
}

.btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/background-1.jpg");
    width: 100%;
}

.btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/background-2.jpg");
}

.btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/background-3.jpg");
}

.btn-1:checked ~ .site-wrapper label[for="btn-1"],
.btn-2:checked ~ .site-wrapper label[for="btn-2"],
.btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
}

.banner-left {
    width: 560px;
    background: #c74362;
    background-image: url("../img/banner_malina.jpg");
    border-radius: 15px;
}

.banner-toppic,
.banner-content {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 17px;
}

.banner-toppic {
    font-size: 35px;
    color: #ffffff;
    line-height: 41px;
    padding-top: 14px;
}

.banner-content {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 43px;
    letter-spacing: 0.1px;
}

.btn-two {
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px 12px 22px;
    border-radius: 40px;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
    background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    margin-bottom: 25px;
    position: relative;
}

.btn-two-1 {
    position: relative;
    left: 315px;
    top: 2px;
}

.btn-two:hover {
    background: #ec7360;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #a9190a;
}

.btn-two:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    box-shadow: inset 0px 2px 2px 0px #a9190a;
}

.banners a,
.map-block-adress a {
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.btn-banner1 {
    box-sizing: border-box;
    margin-left: 59px;
}

.btn-banner2 {
    box-sizing: border-box;
    margin-right: 37px;
    margin-left: 35px;
    padding: 9px 22px 12px 21px;
}

.banner-right {
    width: 560px;
    background: #6d3d1e;
    background-image: url("../img/banner_choco.jpg");
    border-radius: 15px;
    margin-right: 1px;
}


/* catalog */

.breadcrumbs {
    margin-top: -26px;
}

.breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    padding-right: 20px;
}

.breadcrumbs p,
.breadcrumbs a {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
}

.breadcrumbs .disabled-a {
    cursor: default;
}

.breadcrumbs a:hover:not(.disabled-a) {
    color: #ffbc9e;
}

.breadcrumbs span:before {
    content: '»';
    position: absolute;
    padding-top: 2px;
    padding-left: 60px;
}

.catalog-filter {
    width: 879px;
    margin-bottom: 40px;
}

.catalog-filter h2 {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 2px;
    font-size: 33px;
    color: #ffffff;
    font-weight: 600;
    line-height: 41px;
    text-align: left;
    letter-spacing: 0.5px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.assortment-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-right: 10px;
    min-height: 60px;
}

.style-select {
    margin-top: 9px;
    margin-bottom: 10px;
    padding: 7px 3px;
    background: rgba(248, 247, 244, 0.2) url("../img/select.png") no-repeat 170px 17px;
    background-image: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    width: 187px;
}

.style-select a:hover {
    background: rgb(255, 255, 255) url("../img/select.png") no-repeat 170px 17px;
    color: #323232;
}

.assortment-item span,
.price-item span,
.fatness-item .title,
.additive-label .title {
    margin: 0;
    line-height: 13px;
    padding-left: 14px;
}

.radio-item,
.range
,
.additive-item,
.additive-btn {
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 6px 7px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.assortment {
    width: 193px;
    padding-left: 10px;
    height: 36px;
    cursor: pointer;
}

.assortment-item span {
    padding-left: 15px;
    padding-top: 2px;
}

.assortment-item select {
    background: transparent;
    font-weight: 600;
    line-height: 18px;
    font-size: 15px;
    color: #ffffff;
    height: 25px;
    width: 209px;
    border: 0;
}

.assortment-item option {
    font-weight: 400;
    color: black;
}

.price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 220px;
    margin-right: 15px;
    margin-left: 6px;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 30px;
    padding: 0;
    margin: 0;
}

.price-controls input {
    font-size: 14px;
    width: 10px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    box-sizing: border-box;
    position: relative;
    margin-top: 8px;
    padding: 17px 15px;
    height: 33px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 25px;
}

.range-controls .scale {
    height: 3px;
    background: #d7dcde;
    margin-top: -1px;
}

.range-controls .bar {
    position: relative;
    width: 50%;
    height: 4px;
    left: 28px;
    background: rgba(248, 247, 244, 0.8);
}

.range-controls .toggle {
    position: absolute;
    top: 8px;
    left: 3px;
    width: 0.8px;
    height: 0.8px;
    border: 10px solid rgba(248, 247, 244, 0.8);
    background-color: rgb(248, 247, 244);
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 33px;
}

.range-controls .toggle-max {
    left: 131px;
}

.radio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 415px;
    height: 35px;
    box-sizing: border-box;
}

.radio-item,
.range {
    margin-top: 9px;
    margin-bottom: 0px;
    padding: 6px 7px;
    background-color: rgba(248, 247, 244, .2);
}

.radio {
    display: none;
}

.radio-label {
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-right: 5px;
    background: url("../img/radiobtn.png") no-repeat 0px 0px;
    vertical-align: middle;
}

.radio:checked + .radio-label {
    background: url("../img/radiobtn-on.png") no-repeat;
}

.radio-element {
    font-weight: 400;
    padding-left: 7px;
    padding-right: 2px;
    padding-top: 2px;
}

.radio-element span {
    display: inline-block;
    vertical-align: top;
    margin: -3px 5px 0 31px;
}

.radio-element span.last-child {
    padding-right: 0;
}

.additive-item label {
    padding-left: 34px;
    margin-left: 0px;
}

.additive-label {
    margin-top: 1px;
}

.additive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -2px;
}

.additive-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
    margin-bottom: 0px;
    margin-top: 9px;
    padding: 9px 5px;
}

.checkbox {
    display: none;
}

.check-label {
    cursor: pointer;
    padding-right: 9px;
    background: url("../img/checkbox.png") no-repeat 0px 0px;
    vertical-align: top;
}

.checkbox:checked + .check-label {
    background: url("../img/checkbox-on.png") no-repeat;
}

.check-element {
    margin: 0;
    font-weight: 400;
    padding-left: 10px;
    margin-top: -1px;
}

.additive-btn {
    margin-left: 18px;
    border: 2px solid #ffffff;
    width: 142px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.188);
    cursor: pointer;
}

.additive-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
    font-size: 16px;
    font-weight: 600;
}

.additive-btn:active {
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0px 2px 1px 0px 6c6d6c;
    border: transparent;
    font-size: 16px;
    font-weight: 600;
}

.hits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 1146px;
}

.hits-ice-cream {
    width: 267px;
    height: 362px;
}

.hits-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 1146px;
}

.hits-1 .price-rub {
    margin-left: 3px;
}

.hits-1 .price-rub-1 {
    margin-left: -1px;
    margin-right: -3px;
}

.hits-1 .price-rub-2 {
    margin-left: 1px;
    margin-right: -2px;
}

.quick-view-background {
    display: block;
    box-sizing: border-box;
    margin-top: -5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    margin-top: -370px;
    width: 293px;
    height: 404px;
    margin-left: -13px;
}

.quick-view-btn {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    margin-top: -31px;
    margin-left: 33px;
    padding: 9px 17px 0px 17px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 20px;
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    height: 44px;
}

.quick-view-btn:hover {
    background: #ec7360;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #a9190a;
}

.quick-view-btn:active {
    background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    box-shadow: inset 0px 2px 2px 0px #a9190a;
}

.quick-view a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
}

.hits-ice-cream .quick-view {
    display: none;
}

.hits-ice-cream:hover .quick-view {
    display: block;
}

.hit {
    position: absolute;
}

.price-rub,
.price-kg {
    position: relative;
    bottom: 62px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    font-weight: 700;
    line-height: 45px;
    padding-left: 0px;
}

.price-rub {
    font-size: 45px;
    font-weight: 700;
    margin-left: -1px;
}

.price-kg {
    font-size: 30px;
    font-weight: 700;
    padding-left: 2px;
}

.hits-ice-cream-a {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 0px 6px 0px 6px;
    bottom: 42px;
    width: 267px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
}

.underline-1 {
    background: url("../img/underline.png") repeat-x 100% 100%;
}

.hits-ice-cream-a:hover {
    color: #ffbc9e;
}

.underline-1:hover {
    background: url("../img/underline_hover.png") repeat-x 100% 100%;
}

.commercial {
    box-sizing: border-box;
    width: 1146px;
    background: #e4d6af;
    background-image: url("../img/pattern-wafer.jpg");
    background-repeat: repeat;
    border-radius: 15px;
    padding-left: 19px;
    padding-top: 23px;
    color: #323232;
}

.commercial-toppic {
    margin: 0;
    font-size: 24px;
    color: #323232;
    line-height: 1.25;
    font-weight: 500;
    text-align: left;
}

.commercial-combine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.commercial-item {
    position: relative;
    width: 480px;
    min-height: 50px;
    margin-right: 31px;
    padding: 22px 0px 0px 57px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.commercial-item p {
    padding: 0;
    margin: 0;
}

.commercial-item:nth-child(2n) {
    margin-right: 0;
}

.icon-ice-cream::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon-ice-cream.png");
}

.icon-cow::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon-cow.png");
}

.icon-sheet::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon-sheet.png");
}

.icon-thermometer::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 10px;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon-thermometer.png");
}

.news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 39px;
}

.news-preview {
    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    background: #ffffff url("../img/background-strawberry.jpg");
    border-radius: 15px;
    padding-left: 19px;
    color: #323232;
}

.news-preview p {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.news-preview a {
    display: block;
    width: 290px;
    padding-top: 3px;
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.2px;
    line-height: 30px;
}

.news-preview a:hover {
    color: #e84d37;
}

.emailing {
    box-sizing: border-box;
    width: 560px;
    background: url("../img/pattern-mail.png");
    background-color: #f8f7f4;
    border-radius: 15px;
    color: #5a5a5a;
    letter-spacing: 1;
}

.emailing-2 {
    box-sizing: border-box;
    margin: 5px 7px 5px 7px;
    padding: 12px 8px 5px 19px;
    border: 0;
    width: 548px;
    min-height: 210px;
    border-radius: 15px;
    background-color: #f8f7f4;
}

.emailing-2 p {
    margin-right: 10px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.emailing-2 input[type="email"] {
    display: block;
    margin: 18px 0px 0px 1px;
    padding: 9px 173px 10px 13px;
    border: 1px solid rgb(211, 211, 210);
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    display: block;
    margin-top: 18px;
    padding-left: 12px;
    width: 180px;
    border-radius: 5px;
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.emailing input::-moz-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    color: #999999;
}

.emailing input::-webkit-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.emailing input-ms-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.emailing-2 a {
    text-decoration: none;
}

.btn-two-2 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 4px 14px 6px 17px;
    margin: 18px 0px 4px 11px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    border: 0;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    background: #f26843;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.map-iframe {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 5;
    height: 429px;
}

iframe {
    border: 0;
}

.map-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin-left: -27px;
    background-image: #e84d37 url("../img/map-ice-cream.png"), #ded6b9 url("../img/map-block.jpg");
    background-repeat: no-repeat;
    background-position: 266px 139px, 0px 0px;
}

.map-block-adress {
    box-sizing: border-box;
    width: 302px;
    height: 305px;
    background-color: #fefefe;
    color: #4d4d4d;
    border-radius: 15px;
    position: relative;
    left: 871px;
    margin-top: -370px;
    padding-left: 25px;
    padding-top: 15px;
    z-index: 200;
}

.map-block-adress p {
    margin: 0;
    padding: 14px 0px 2px 0px;
    margin-bottom: 0px;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.map-block-adress p:nth-of-type(2) {
    margin: 0;
    padding: 17px 0px 2px 0px;
    margin-bottom: 3px;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.map-block-adress p:last-of-type {
    padding-top: 2px;
}

.map-block-adress b {
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.map-block-adress b:last-of-type {
    margin-top: 105px;
}

.btn-map {
    top: 23px;
    padding: 9px 28px 11px;
}


/* catalog */

.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
    padding-bottom: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.paginator a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 3px 10px 3px 9px;
}

.paginator a:hover:not(.next):not(.prev) {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.disabled {
    cursor: default;
}

.paginator a:active:not(.next):not(.prev) {
    color: #323232;
    background-color: #ffffff;
    border-radius: 50%;
}

.disabled {
    opacity: 0.3;
}

a.current {
    background: #ffffff;
    color: #323232;
    border-radius: 50px;
}

.prev {
    width: 9px;
    height: 14px;
    background: url("../img/paginator_left.png") no-repeat;
    background-position: 5px;
}

.next {
    width: 9px;
    height: 14px;
    background: url("../img/paginator_right.png") no-repeat;
    background-position: 18px 5px;
}


/* footer */

.main-footer {
    margin-top: 20px;
    padding-bottom: 24px;
}

.main-footer-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-footer-layout::before {
    display: none;
}

.main-footer .footer-catalog {
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.302);
    padding: 0;
    padding-top: 17px;
    padding-bottom: 7px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
    box-sizing: border-box;
    width: 196px;
    margin-right: 226px;
    margin-top: 18px;
}

.social-btn {
    width: 3px;
    height: 3px;
    border: 3px solid rgba(254, 254, 254, 0.5);
    border-radius: 50px;
    margin-right: 9px;
}

.social-btn-tw {
    width: 32px;
    height: 32px;
    background: url("../img/sprite1.png") no-repeat;
    background-position: 0px 0px;
    border-radius: 50px;
    opacity: 0.8;
}

.social-btn-tw:hover {
    opacity: 1;
}

.social-btn-tw:active {
    opacity: 0.8;
    box-shadow: inset 0px 2px 1px 0px #9b9b9b;
}

.social-btn-inst {
    width: 32px;
    height: 32px;
    background: url("../img/sprite1.png") no-repeat;
    background-position: -42px 0px;
    border-radius: 50px;
    opacity: 0.8;
}

.social-btn-inst:hover {
    opacity: 1;
}

.social-btn-inst:active {
    opacity: 0.8;
    box-shadow: inset 0px 2px 1px 0px #9b9b9b;
}

.social-btn-fb {
    width: 32px;
    height: 32px;
    background: url("../img/sprite1.png") no-repeat;
    background-position: -84px 0px;
    border-radius: 50px;
    opacity: 0.8;
}

.social-btn-fb:hover {
    opacity: 1;
}

.social-btn-fb:active {
    opacity: 0.8;
    box-shadow: inset 0px 2px 1px 0px #9b9b9b;
}

.social-btn-vk {
    width: 32px;
    height: 32px;
    background: url("../img/sprite1.png") no-repeat;
    background-position: -126px 0px;
    border-radius: 50px;
    opacity: 0.8;
}

.social-btn-vk:hover {
    opacity: 1;
}

.social-btn-vk:active {
    opacity: 0.8;
    box-shadow: inset 0px 2px 1px 0px #9b9b9b;
}

.footer-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    box-sizing:border-box;
    max-width: 100%;
    width: 333px;
    margin-right: 128px;
    margin-top: 15px;
}

.footer-about-us::after {
    content: "";
    position: relative;
    right: 325px;
    bottom: 20px;
    width: 15px;
    height: 13px;
    background-image: url("../img/sprite.png");
    background-position: 464px 0px;
}

.fotter-about-us-toppic {
    padding-right: 32px;
}

.fotter-about-us-toppic:nth-of-type(3) {
    padding-right: 45px;
}

.fotter-about-us-toppic:nth-of-type(4) {
    padding-right: 0px;
}

.footer-about-us a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer-about-us a:first-child {
    font-weight: 600;
}

.footer-about-us a:hover,
.footer-copyright a:hover {
    color: #ffbc9e;
}

.footer-copyright {
    box-sizing: border-box;
    width: 190px;
    margin-left: auto;
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer-copyright a {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}


/* Всплывающая форма */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    70% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    90% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    70% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    90% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.modal-content {
    display: none;
    box-sizing: border-box;
    margin-left: -237px;
    color: #000000;
    border-radius: 10px;
    background-color: rgb(248, 247, 244);
    position: fixed;
    top: 125px;
    left: 50%;
    z-index: 15;
    width: 477px;
    height: 442px;
}

.modal-content-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal-content-close {
    position: absolute;
    top: 23px;
    right: 31px;
    font-size: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.modal-content-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-content-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 16px 0px 17px 21px;
    padding: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
}

.modal-content input:hover {
    border: 2px solid #c7c6c5;
}

.modal-content input[type="email"],
.modal-content input[type="text"] {
    display: block;
    margin-top: -2px;
    margin-left: 23px;
    margin-bottom: 23px;
    padding: 8px 38px 9px 14px;
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    width: 213px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: rgb(50, 50, 50);
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    z-index: 12;
}

.modal-content input[type="text"]:nth-child(3) {
    padding-bottom: 120px;
    padding-right: 199px;
}

.modal-content input::-webkit-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.modal-content input::-moz-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.modal-content input-ms-input-placeholder {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.btn-modal {
    position: absolute;
    top: 370px;
    left: 312px;
    width: 140px;
}
